<%- include('partials/head'); -%>

<div>
    <h1>Hi <%= user.name %></h1>
  </div>

<form action="/new-post" method="post" onsubmit="return validateForm()">
    <input type="text" id="title" name="title"  placeholder="Name" maxlength="15">
    <br/><br/>
    <textarea name="message" id="message"  maxlength="40" placeholder="Message"></textarea>
    <button>Post a message</button>
</form>

<div id="output" class="posts content">
    <% if(posts.length > 0) {%>
        <% for (let i = 0; i < posts.length; i++) { %>
            <div>
                <h5><%= posts[i].title%></h5>
                <p><%= posts[i].message.slice(0, 20) %></p>
                <a href="/post/<%= posts[i]._id %>">See more..</a>
                <h6>written by: <%= user.name %> on: <%= posts[i].createdAt %></h6>
                <div>
                    <form action="/add-comment/<%=posts[i]._id%>" method="post">
                      <input name="comment" placeholder="write your comment" >
                      <button>Send</button> 
                    </form>
                    <div>
                        <% if(posts[i].comments.length > 0) {%>
                            <% posts[i].comments.forEach(comment =>{ %>
                                <div>
                                    <h6>written by: <%= comment.name %> on: <%= posts[i].createdAt %></h6>
                                    <h4><%= comment.comment %></h4>
                                </div>
                            <% }) %> 
                        <% } %>
                    </div>
                  </div>
            </div>
        <% } %>
    <% } %>
</div>

<script>
    function validateForm() {
        let messageInput = document.getElementById("message");
        let titleInput = document.getElementById("title")
        const message = messageInput.value;
        const name = nameInput.value
    
        if (title === "" || message === "") {
            alert("Both fields are required");
            return false;
        }
        return true;
    }
</script>




<%- include('./partials/footer'); -%>

