<%- include('partials/head'); -%>

<a href="/forum" class="btn btn-light">Back</a>
    <main class="d-flex align-items-center justify-content-center">
        <div class="card mb-4" style="width: 50%;">
            <div class="card-header">
                <h3 class="card-title"><%= post.title %></h3>
            </div>
            <div class="card-body">
                <p class="card-text"><%= post.message %></p>
            </div>
            <div class="card-body">
                <p class="card-text"><%= post.createdAt %></p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <form action="/delete-post/<%= post._id %>" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <a href="/post/edit/<%= post._id %>" class="btn btn-primary">Edit Post</a>
            </div>
        </div>
    </main>

<%- include('./partials/footer'); -%>